@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap");
:root {
  --button: #ee2375;
  --white: #ffffff;
  --background: #abdbe3;
  --info: #929292;
  --edit: #bebdbd;
  --line: #ededed;
  --blue: #42aafd;
  --box-shadow: 10px 10px 13px -6px rgba(169, 228, 255, 0.75);
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background);
}
