@import "./main.css";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--white);
  padding: 3rem;
  width: 40%;
  border-radius: 10px;
  margin: 2rem auto;
  box-sizing: border-box;
}

/* heading */
.heading--top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading--bottom {
  color: var(--info);
}

.btn {
  color: var(--white);
  background-color: var(--button);
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.heading--top .btn {
  width: 2rem;
  height: 2rem;
}

/* summary */

.box--summary {
  margin-top: 1.5rem;
}

.box--summary .badge {
  font-size: 20px;
  font-weight: 800;
}

.box--summary span {
  color: var(--info);
}

.box--tasks {
  display: flex;
  justify-content: space-around;
  padding-bottom: 1em;
  border-bottom: 1px solid var(--line);
}

.box--tasks .task-card {
  padding: 0 2rem;
}
