@import "./main.css";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--white);
  padding: 3rem;
  width: 40%;
  border-radius: 10px;
  margin: 2rem auto;
  box-sizing: border-box;
}

/* heading */
.heading--top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading--bottom {
  color: var(--info);
}

.btn {
  color: var(--white);
  background-color: var(--button);
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

form .btn {
  padding: 0.5rem;
}

.heading--top .btn {
  width: 2rem;
  height: 2rem;
}

/* summary */

.box--summary {
  margin-top: 1.5rem;
}

.box--summary .badge,
.box--timeline .badge {
  font-size: 20px;
  font-weight: 800;
}

.box--summary span,
.box--timeline span,
.modal label {
  color: var(--info);
}

.box--tasks {
  display: flex;
  justify-content: space-around;
  padding-bottom: 1em;
  border-bottom: 1px solid var(--line);
}

.box--tasks .task-card {
  padding: 0 2rem;
}

.box--categories {
  display: grid;
  column-gap: 10px;
  grid-template-columns: 1fr 1fr;
}

.box--categories .badge {
  font-size: 16px;
}

.box--categories .category-card {
  padding: 1em 2em;
  border-radius: 3px;
  box-shadow: var(--box-shadow);
  position: relative;
}

.category-color-badge {
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.box--categories .category-color-badge {
  position: absolute;
  top: 10px;
  right: 10px;
}

/* timeline */
.box--timeline {
  margin-top: 2em;
}

.box--timeline .timeline--row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.timeline--row .line {
  height: 2px;
  width: 80%;
  background-color: var(--line);
}

.box--timeline .todo-card {
  box-shadow: var(--box-shadow);
  border-radius: 3px;
  margin-left: 50px;
  padding: 10px;
  position: relative;
}

.box--timeline .todo-card:hover {
  box-shadow: none;
  background-color: var(--blue);
  color: white;
  cursor: pointer;
}

.box--timeline .todo-card .badge {
  font-size: 16px;
}

/* modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal--content {
  background-color: var(--white);
  margin: 15% auto;
  padding: 1.5rem;
  border: 1px solid #888;
  width: 40%;
}

.task-type-label {
  color: var(--white);
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  padding: 10px;
  width: fit-content;
}

form .task-type-label:hover {
  transform: scale(1.1, 1.1);
}

.task-type-label.selected {
  font-size: 16px;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

/* view modal content */
input[type="text"] {
  padding: 1rem;
  font-size: 20px;
}

input::placeholder {
  color: var(--info);
}

.form--rowContainer {
  padding: 1rem;
}

.form--rowContainer label {
  margin-right: 0.5rem;
}

.task-category-container {
  display: flex;
  justify-content: space-evenly;
}

#test {
  display: none;
}
